body {
    background-color: antiquewhite;
}


.upBlock {
    background-color: rgb(247, 133, 1);
    width: 100%;
    height: 216px;
}

.boBlock {
    width: 100%;
}

.buttonum {
    width: 257px; 
    height: 44px; 
    border: 0px; 
    background-color: rgb(217, 217, 217);
    color: #555555;
    transition: 0.3s;
}

.buttonum:hover {
    background-color: #bbb;
}

#taskInput {
    width: 773px;
    height: 44px; 
    border: 0px;
}

.completed {
    background-color: #276678 !important;
    color: white;
    transition: 0.3s;
}

.completed:hover {
    background-color: #276678;
}

ul li {
    height: 51px;
    line-height: 51px;
    font-size: 18px;
    background-color: #f9f9f9;
    transition: 0.3s;
    list-style-type: none;
    padding-left: 20px;
    padding-bottom: 0px;
    width: 100%;
}

ul li div:nth-child(1) {
    width: 30px;
}

ul li div:nth-child(2) {
    width: 90%;
    padding-left: 5px;
}

ul li div:nth-child(3) {
    cursor: pointer;
    margin-left: 10px;
}

ul li:nth-child(odd) {
  background-color: #eeeeee;
}

ul {
    padding: 0;
    margin: 0;
    cursor: pointer;
}

ul li:hover {
    background-color: #bbb;
}

li button {
    background: none;
    border: none;
    transition: 0.3s;
    right: 0px;
    font-size: 20px;
    width: 40px;
}

li button:hover {
    background-color: darkred;
    color: white;
    cursor: pointer;
}

.del-btn {
    margin-left: auto;
    text-decoration: none /*!important;*/
}

.underlying {
    text-decoration: line-through;
}

/* Big Desktop */
@media (max-width: 1440px) {

    ul li div:nth-child(2) {
        width: 93%;
    }
}

/*Desktop*/
@media (max-width: 1024px) {

    ul li div:nth-child(2) {
        width: 91%;
    }

}

/* Tablet */
@media (max-width: 769px) {

    ul li div:nth-child(2) {
        width: 87%;
    }

    .col-12 {
        padding-left: 0%;
        padding-right: 0%;
    }

}

/* Telefonlar */
@media (max-width: 425px) {
   
    ul li div:nth-child(2) {
        width: 80%;
    }
}

@media (max-width: 325px) {

    ul li div:nth-child(2) {
        width: 75%;
    }
}